.cButtonDesign {
    height: 3em;
    width: 13em;
    margin: 1em;

    border-radius: 0.5em;

    background-color: darkgrey;
    color: white;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    user-select: none;
}

.cButtonDesign:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: gray;
}

.cButtonDesignAppointments {
    height: 3em;
    width: 13em;
    margin: 5em;

    border-radius: 0.5em;

    background-color: lightgrey;
    color: white;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2.6em;

    user-select: none;
    
}

.cButtonDesignAppointments:hover {
    cursor: pointer;
    background-color: grey;
}

.CButtonDesignCardUser {
    height: 2.5em;
    width: 12em;

    margin: 1em;
    margin-left: 0.6em;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 0.5em;

    background-color: white;
     font-weight: bold;
}

.CButtonDesignCardUser:hover {
    cursor: pointer;
    background-color: rgb(243, 119, 119);
    user-select: none;
}

.CButtonDesignDeleteAppointment {
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0.5em;
    margin-top: 2em;

    background-color: lightgray;
    color: black;
    font-weight: bold;
    
}

.CButtonDesignDeleteAppointment:hover {
    cursor: pointer;
    background-color: rgb(243, 119, 119);
    user-select: none;
}

.imgDeleteAppointments {
    height: 1.8em;
    width: 1.8em;
    border-radius: 0.5em;
}

.imgDeleteAppointments:hover {
    background-color: rgb(243, 119, 119);
}