.registerDesign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error {
    height: 1em;
    color: red;
}

.successfully {
    height: 1em;
    color: black;
    font-weight: bold;
}
