.homeDesign {
    height: 88vh;
    width: 100vw;

    background-color: rosybrown;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    flex-wrap: wrap;
}

.positionServicesCard {
    display: flex;
    flex-wrap: wrap;
}