.homeDesign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    flex-wrap: wrap;
}

.positionServicesCard {
    display: flex;
    flex-wrap: wrap;
}

.textName {
    font-size: 5em;
    font-weight: bold;
    color: rgb(185, 50, 9);

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

