.appointmentCardDesign {

    height: 4em;
    width: 20em;

    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 0.5em;
    border: 0.1em solid black;
    margin: 1em;
}