.appointmentCardDesign {

    height: 5em;
    width: 20em;

    background-color: lightgrey;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    

    border-radius: 0.5em;
    border: 0.1em solid black;
    margin: 2em;

}