.headerDesign {
    height: 12vh;
    width: 98.7vw;

    background-color: lightgray;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

}

.navBar {
    display: flex;
    flex-direction: row;
}