.servicesDesign {
    
        height: 88vh;
        width: 98vw; 
    
        background-color: rosybrown;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x:hidden ;
    }
    